@font-face{
    font-family: 'ubuntu';
    src: url('../../public/fonts/Ubuntu/Ubuntu-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face{
    font-family: 'ubuntu';
    src: url('../../public/fonts/Ubuntu/Ubuntu-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face{
    font-family: 'ubuntu';
    src: url('../../public/fonts/Ubuntu/Ubuntu-Bold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}



@font-face{
    font-family: 'rubik';
    src: url('../../public/fonts/Rubik/static/Rubik-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face{
    font-family: 'rubik';
    src: url('../../public/fonts/Rubik/static/Rubik-Medium.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face{
    font-family: 'rubik';
    src: url('../../public/fonts/Rubik/static/Rubik-Regular.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face{
    font-family: 'rubik';
    src: url('../../public/fonts/Rubik/static/Rubik-Bold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face{
    font-family: 'rubik';
    src: url('../../public/fonts/Rubik/static/Rubik-ExtraBold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}